NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WHATSAPP=

SUPABASE_SERVICE_ROLE_KEY=

TRANSBANK_ENVIRONMENT=integration
TRANSBANK_COMMERCE_CODE=
TRANSBANK_API_KEY=

RESEND_API_KEY=
STORE_NOTIFICATION_EMAIL=
EMAIL_FROM_NAME=Raíz y Mimbre
EMAIL_FROM_ADDRESS=pedidos@raizymimbre.cl
